{% extends 'base.html' %}

{% block titulo_pagina %} Nuevo movimiento {% endblock %}

{% block contenido_pagina %}
            <h1>Borrado de movimientos</h1>
            <!--CLASE ERROR-->
            {% for error in errores %}
            <p class="error">{{ error}}</p>
            {% endfor %}

            <!--FORMULARIO-->
            <form action="/borrar/{{ form.id.data }}" method="post">
                {{ form.hidden_tag() }}

                <div class="campo-formulario">
                    {{ form.fecha.label() }}
                    {{ form.fecha(type="date") }}
                </div>
                
                <div class="campo-formulario">
                    {{ form.concepto.label() }}
                    {{ form.concepto(placeholder="Escriba concepto") }}

                    {% for error in form.concepto.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="campo-formulario">
                    {% for subfield in form.ingreso_gasto %}
                        {{ subfield }} {{ subfield.label }}
                    {% endfor %}
                </div>

                <div class="campo-formulario">
                    {{ form.cantidad.label() }}
                    {{ form.cantidad() }}
                </div>       
                
                {{ form.submit() }}
                
            </form>

{% endblock %}